AcmeCursos/AcmeCursos.WCFClient/Service References/InscricaoService/InscricaoService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="InscricaoService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3139/InscricaoService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:3139/InscricaoService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:3139/InscricaoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AcmeCursos.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IInscricaoService_CadastrarEstudante_InputMessage">
    <wsdl:part name="parameters" element="tns:CadastrarEstudante" />
  </wsdl:message>
  <wsdl:message name="IInscricaoService_CadastrarEstudante_OutputMessage">
    <wsdl:part name="parameters" element="tns:CadastrarEstudanteResponse" />
  </wsdl:message>
  <wsdl:message name="IInscricaoService_GetByEstudanteId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetByEstudanteId" />
  </wsdl:message>
  <wsdl:message name="IInscricaoService_GetByEstudanteId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByEstudanteIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IInscricaoService">
    <wsdl:operation name="CadastrarEstudante">
      <wsdl:input wsaw:Action="http://tempuri.org/IInscricaoService/CadastrarEstudante" message="tns:IInscricaoService_CadastrarEstudante_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInscricaoService/CadastrarEstudanteResponse" message="tns:IInscricaoService_CadastrarEstudante_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetByEstudanteId">
      <wsdl:input wsaw:Action="http://tempuri.org/IInscricaoService/GetByEstudanteId" message="tns:IInscricaoService_GetByEstudanteId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInscricaoService/GetByEstudanteIdResponse" message="tns:IInscricaoService_GetByEstudanteId_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IInscricaoService" type="tns:IInscricaoService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CadastrarEstudante">
      <soap:operation soapAction="http://tempuri.org/IInscricaoService/CadastrarEstudante" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByEstudanteId">
      <soap:operation soapAction="http://tempuri.org/IInscricaoService/GetByEstudanteId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InscricaoService">
    <wsdl:port name="BasicHttpBinding_IInscricaoService" binding="tns:BasicHttpBinding_IInscricaoService">
      <soap:address location="http://localhost:3139/InscricaoService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>