AcmeCursos/AcmeCursos.WCFClient/Service References/EstudanteService/EstudanteService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EstudanteService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3139/EstudanteService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:3139/EstudanteService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:3139/EstudanteService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AcmeCursos.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEstudanteService_GetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAll" />
  </wsdl:message>
  <wsdl:message name="IEstudanteService_GetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="IEstudanteService_GetById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetById" />
  </wsdl:message>
  <wsdl:message name="IEstudanteService_GetById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IEstudanteService_GetByIdWithInscricoes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetByIdWithInscricoes" />
  </wsdl:message>
  <wsdl:message name="IEstudanteService_GetByIdWithInscricoes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByIdWithInscricoesResponse" />
  </wsdl:message>
  <wsdl:message name="IEstudanteService_Create_InputMessage">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="IEstudanteService_Create_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="IEstudanteService_Edit_InputMessage">
    <wsdl:part name="parameters" element="tns:Edit" />
  </wsdl:message>
  <wsdl:message name="IEstudanteService_Edit_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditResponse" />
  </wsdl:message>
  <wsdl:message name="IEstudanteService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IEstudanteService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:portType name="IEstudanteService">
    <wsdl:operation name="GetAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IEstudanteService/GetAll" message="tns:IEstudanteService_GetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEstudanteService/GetAllResponse" message="tns:IEstudanteService_GetAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetById">
      <wsdl:input wsaw:Action="http://tempuri.org/IEstudanteService/GetById" message="tns:IEstudanteService_GetById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEstudanteService/GetByIdResponse" message="tns:IEstudanteService_GetById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetByIdWithInscricoes">
      <wsdl:input wsaw:Action="http://tempuri.org/IEstudanteService/GetByIdWithInscricoes" message="tns:IEstudanteService_GetByIdWithInscricoes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEstudanteService/GetByIdWithInscricoesResponse" message="tns:IEstudanteService_GetByIdWithInscricoes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Create">
      <wsdl:input wsaw:Action="http://tempuri.org/IEstudanteService/Create" message="tns:IEstudanteService_Create_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEstudanteService/CreateResponse" message="tns:IEstudanteService_Create_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Edit">
      <wsdl:input wsaw:Action="http://tempuri.org/IEstudanteService/Edit" message="tns:IEstudanteService_Edit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEstudanteService/EditResponse" message="tns:IEstudanteService_Edit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IEstudanteService/Delete" message="tns:IEstudanteService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEstudanteService/DeleteResponse" message="tns:IEstudanteService_Delete_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEstudanteService" type="tns:IEstudanteService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAll">
      <soap:operation soapAction="http://tempuri.org/IEstudanteService/GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetById">
      <soap:operation soapAction="http://tempuri.org/IEstudanteService/GetById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByIdWithInscricoes">
      <soap:operation soapAction="http://tempuri.org/IEstudanteService/GetByIdWithInscricoes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create">
      <soap:operation soapAction="http://tempuri.org/IEstudanteService/Create" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Edit">
      <soap:operation soapAction="http://tempuri.org/IEstudanteService/Edit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IEstudanteService/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EstudanteService">
    <wsdl:port name="BasicHttpBinding_IEstudanteService" binding="tns:BasicHttpBinding_IEstudanteService">
      <soap:address location="http://localhost:3139/EstudanteService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>